<div class="container max-w-screen-md mx-auto px-6 text-center"  style="min-height: calc(100vh - 96px - 440px)">
  <h3 class="text-3xl font-semibold mt-16 mb-5">
    <%= @article.title.capitalize %>
  </h3>

  <div class="py-4 mb-5 border-t border-b mx-8">
    <div class="flex justify-center">
      <div class="w-3/5">
        <div class="flex">
          <%= image_tag "avatar.jpeg", class:"rounded-full h-12" %>
          <div class="flex flex-col text-sm ml-3">
            <span class="h6">
              <a href="" class="text-teal-500">Hanna Wolfe</a>
              <button type="button" class="text-gray-200 text-xs h-6 rounded px-2 ml-1 bg-teal-500">Follow</button></span>
            <span class="d-block text-muted text-left"><%= @article.created_at.strftime("%b %d, %Y") %></span>
          </div>
        </div>
      </div>
      <div class="w-2/5 flex my-auto justify-end">
        <span class="block text-sm font-normal text-gray-700 mr-2">Share:</span>
        <a class="text-sm w-6 h-6 rounded ml-1 text-teal-500" href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="text-sm w-6 h-6 rounded ml-1 text-teal-500" href="#">
          <i class="fab fa-linkedin"></i>
        </a>
        <a class="text-sm w-6 h-6 rounded ml-1 text-teal-500" href="#">
          <i class="fab fa-telegram"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="my-5">
    <%= @article.content %>
  </div>
  <div class="my-5">
    <%= @article.content %>
  </div>
  <div class="my-5">
    <%= @article.content %>
  </div>


</div>
