<h2 class="text-lg"><%= disti.name %></h2>
<div class="flex h-6 justify-center items-center">
  <%= image_tag "email.svg", class:"h-3 w-3 mr-1" %>
  <%= disti.email %>
</div>
<p class="text-indigo-700"><%= link_to disti.website, "disti.website", target:"_blank" %></p>
<p><%= disti.phone %></p>
